name: it-with-arq-liberty-remote

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  it-with-arq-liberty-remote:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Run OpenLiberty server
        run: |
          export INSTALL_DIR="/opt/appsvr"
          mkdir ${INSTALL_DIR}

          curl -o /tmp/ol.zip -L https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/runtime/beta/2021-08-24_2341/openliberty-21.0.0.10-beta.zip \
              && unzip /tmp/ol.zip -d ${INSTALL_DIR} \
              && rm /tmp/ol.zip \
              && true

          chmod -R a+rw ${INSTALL_DIR}
          chmod -R a+x ${INSTALL_DIR}/wlp/bin/*
          ${INSTALL_DIR}/wlp/bin/server create testServer
          cp ./src/test/arq-liberty-remote/server.xml ${INSTALL_DIR}/wlp/usr/servers/testServer/
          ${INSTALL_DIR}/wlp/bin/server start testServer
          sleep 10
          echo password|keytool -export -alias default -file testwlp.crt -keystore ${INSTALL_DIR}/wlp/usr/servers/testServer/resources/security/key.jks
          if [ -z "${JAVA_HOME}" ]; then
            JAVA_CMD = `which java`
            JAVA_HOME = `dirname $JAVA_CMD`/..
          fi
          echo "JAVA_HOME: $JAVA_HOME"
          keytool -import -trustcacerts -keystore ${JAVA_HOME}/lib/security/cacerts -storepass changeit -alias testwlp -file testwlp.crt -noprompt

      - name: Run integration test with -Parq-liberty-remote
        run: mvn clean verify -Parq-liberty-remote
