name: it-with-arq-glassfish-remote

on:
  push:
    paths-ignore:
      - "docs/**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  it-with-arq-glassfish-remote:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: 11
      - run: java -version
      - name: Run Glassfish server
        run: |
          export GLASSFISH_ARCHIVE=glassfish6
          export GLASSFISH_VERSION=6.2.1
          export INSTALL_DIR="/opt/appsvr"
          mkdir ${INSTALL_DIR}

          curl -o /tmp/${GLASSFISH_ARCHIVE}.zip -L https://github.com/eclipse-ee4j/glassfish/releases/download/${GLASSFISH_VERSION}/glassfish-${GLASSFISH_VERSION}.zip \
              && unzip /tmp/${GLASSFISH_ARCHIVE}.zip -d ${INSTALL_DIR} \
              && rm /tmp/${GLASSFISH_ARCHIVE}.zip \
              && true

          chmod -R a+rw ${INSTALL_DIR}
          chmod -R a+x ${INSTALL_DIR}/${GLASSFISH_ARCHIVE}/bin/*
          export PATH=$PATH:${INSTALL_DIR}/${GLASSFISH_ARCHIVE}/bin/
          asadmin start-domain domain1 && true
#          echo "set AS_ADMIN_PASSWORD=adminadmin" \
#              && echo "AS_ADMIN_PASSWORD=\nAS_ADMIN_NEWPASSWORD=adminadmin" > /tmp/new_passwordfile \
#              && echo "AS_ADMIN_PASSWORD=adminadmin" > /tmp/passwordfile \
#              && cat /tmp/new_passwordfile && cat /tmp/passwordfile \
#          	  && asadmin --passwordfile /tmp/new_passwordfile change-admin-password --domain_name domain1 \
#          	  && asadmin --passwordfile /tmp/passwordfile start-domain domain1 \
#          	  && true
#
#      - run: netstat -nao |grep 4848
      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run integration test with -Parq-glassfish-remote
        run: mvn clean verify -Parq-glassfish-remote
